@font-face {
font-family: Raleway-Regular;
src: url(/Raleway-Regular.tff);
}
@font-face {
font-family: OpenSans-SemiBold;
src: url(/OpenSans-SemiBold.tff);
}
p {
font-family: "Raleway-Regular", Raleway, sans-serif;
}
h1, h2, h3 {
font-family: "OpenSans-Semibold", Open Sans, sans-serif;
}
