@font-face {
font-family: Raleway-Regular;
src: url(/Raleway-Regular.tff);
}
@font-face {
font-family: OpenSans-SemiBold;
src: url(/OpenSans-SemiBold.tff);
}
p {
font-family: 'Raleway', sans-serif;
margin-left: 200px;
margin-right: 200px;
font-size: 26px;
}
h1, h2, h3 {
font-family: 'Open Sans', sans-serif;
font-size: 40px;
margin-left: 10px;
}
src {
margin-top: 20px;
}

.mainHeading {
	background-color: azure;
	color: grey;
	height: 75px;
	width: 98%;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 0.10px;
	padding-top: 10px;
	border-bottom-style: solid;
	border-color: #000000;

}

html {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
body {
	background-color: #FFF8E7;
}
